.found-form-page {
  width: 100%;
  min-height: 100vh;
  background-color: #F6F4EB;
  padding: 40px 20px;
}

.form-title {
  text-align: center;
  color: #749BC2;
  font-size: 2rem;
  margin-bottom: 20px;
}


.found-form {
  background-color: #ffffff;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.found-form label {
  display: block;
  font-weight: bold;
  margin-top: 12px;
  color: #2b4552;
}

.found-form input,
.found-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: 2px solid #a0c8e0;
  font-size: 1rem;
}

.submit-btn {
  width: 100%;
  background-color: #749BC2;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #5e8cb0;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-box {
  background: white;
  padding: 25px 30px;
  border-radius: 12px;
  text-align: center;
  color: #2b4552;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
}


.close-btn {
  background-color: #749BC2;
  color: white;
  padding: 8px 18px;
  border: none;
  margin-top: 12px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}